@import url("./sanitize.css");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

:root {
  --primary: steelblue;
  --secondary: lightblue;
  --white: #fff;
  --black: #333;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  width: 100%;
  min-height: 100vh;
  font-family: "Muli", sans-serif;
  padding: 22px;
  background-color: var(--primary);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  width: 100%;
  max-width: 380px;
  border-radius: 6px;
}

.form-title,
.form-field-label,
.form-text,
.form-field-input,
.form-field-label span {
  color: var(--white);
}

.form-title {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
  font-size: 32px;
}

.form-field-label,
.form-btn {
  font-size: 18px;
  line-height: 1;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  position: relative;
}

.form-field-label {
  margin: 0;
  position: absolute;
  left: 0;
  font-weight: 400;
  bottom: 18px;
  letter-spacing: -2px;
  pointer-events: none;
}

.form-field-label span {
  display: inline-block;
  color: var(--white);
  transition: 0.3s transform cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-field-input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--white);
  transition: 0.3s border;
  font-size: 18px;
  padding: 14px 0;
}

.form-btn {
  background-color: var(--secondary);
  color: var(--black);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  transition: scale 0.3s;
  border-radius: 6px;
}

.form-btn:active {
  scale: 0.97;
}

.form-footer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.form-link {
  text-decoration: none;
  color: var(--secondary);
}

.form-field[for="password"] {
  margin: 40px 0;
}

.form-field-input:focus {
  border-color: var(--secondary);
}

.form-field-input::placeholder {
  visibility: hidden;
}

.form-field-input:not(:placeholder-shown) + .form-field-label span,
.form-field-input:focus + .form-field-label span {
  transform: translateY(-30px);
  color: var(--secondary);
}
